body {
    width: 1440px;
    background-color: #e0e8ff;
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .conteiner{
    width: 450px;
    height: 660px;
    
  }
  img {
    width: 1440px;
    height: 437px;
    left: 0px;
    right: 0px;
    fill: #d6e1ff;
    fill-rule: evenodd;
    margin: 0;
    padding: 0;
  }
  
  div {
    background-color: #ffffff;
    width: 449px;
    height: 697px;
    border-radius: 20px;
    margin: auto;
    padding: 0 0 0 1px;
  }
  
 
  .illustration {
    width: 450px;
    height: 220px;
    border-radius: 20px 20px 0px 0px;
    color: #382ae1;
  }
  .order {
    width: 354px;
    height: 37px;
    top: 265px;
    left: 48px;
    color: #1f2e55;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    margin-left: 50px;
    font-family: "Red Hat Display";
  }
  .text {
    width: 354px;
    height: 78px;
    top: 310px;
    left: 48px;
    color: #717fa6;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
  }
  .card-content {
    width: 354px;
    height: 98px;
    border-radius: 11px;
    background-color: #f7f9ff;
  }
  .icon {
    width: 48px;
    height: 48px;
    color: #717fa6;
    margin-top: 25px;
    margin-left: 24px;
    margin-bottom: 25px;
  }
  
  .card-text {
    width: 117.19px;
    height: 21px;
    color: #1f2e55;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    top: 100px;
    margin-top: -80px;
    margin-left: 100px;
  }
  .card-price {
    width: 92px;
    height: 21px;
    color: #717fa6;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 570;
    font-size: 16px;
    line-height: 21px;
    margin-top: -10px;
    margin-left: 100px;
  }
  .button {
    width: 52px;
    height: 19px;
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    color: #382ae1;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
  }
  .bt-main {
    width: 353px;
    height: 50px;
    border-radius: 11px;
    background-color: #382ae1;
    margin-top: 30px;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .bt-main-text {
    color: #ffffff;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .bt-secon-text {
    width: 96px;
    height: 20px;
    color: #717fa6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    margin-left: 170px;
    margin-top: 30px;
  }
  
